---
import HeaderHomePage from "../components/HeaderHomePage.astro";
import Layout from "../layouts/Layout.astro";
import SectionHomePage from "../components/SectionHomePage.astro";
import SectionModeloS from "../components/SectionModeloS.astro";
---
<Layout title="LandingPage">
	<main>
		<HeaderHomePage />
		<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-m-0">
			<div class="snap-center">
				<SectionHomePage />
			</div>
			<div class="snap-center">
				<SectionModeloS />
			</div>
			<div class="snap-center">
				<SectionHomePage />
			</div>				
		</main>
		
	</main>
</Layout>
