<section
	class="homepage-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="#FA8072">
	<div class="relative z-30 h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-4xl font-medium">MODELO S</h2>
			<p class="text-white text-sm">
				Concertar una prueba de conducción
			</p>
		</header>
		<footer class="flex flex-grow flex-col justify-end text-white pb-20 ">
			<div class="flex gap-x-4 justify-center">
				<a
					class="border-[3px] border-white text-sm rounded backdrop-blur-sm font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="#">Explorar Inventario</a
				>
								<a
					class="border-[3px] border-white text-sm rounded backdrop-blur-sm font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="#">Pedido Perzonalizado</a
				>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full z-10 w-full">
		<video
			class="object-center object-cover h-full w-full"
			src="/Modelo-s.webm"
			autoplay
			loop
			muted></video>
	</div>
</section>
