<section
	class="homepage-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="#F0E68C">
	
	<div class="relative z-30 h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-4xl font-medium">Disfrute de Tesla</h2>
			<p class="text-white text-sm">
				Programe una prueba de conducción hoy mismo
			</p>
		</header>
		<footer class="flex flex-grow flex-col justify-end text-white pb-20">
			<div>
				<a
					class="border-[3px] border-white text-white text-sm rounded backdrop-blur-sm font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="#">Prueba de conducción</a
				>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full z-10 w-full">
		<video
			class="object-center object-cover h-full w-full"
			src="/VideoHomePage.webm"
			autoplay
			loop
			muted></video>
	</div>
</section>
